{% extends "base.html" %}

{% block content %}
    <h1>From Database</h1>
    {% if objects %}
        <ol>
            {% for object in objects %}
                <li><a href="{{object.id}}">Title is {{object.title}} - Id is {{object.id}}</a></li>       
            {% endfor %}
        </ol>
    {% else %}

        {% if object %}
            <ol>
                <li>Title is {{object.title}} - Id is {{object.id}}</li>           
            </ol>
        {% else %}
            <ol>
                <li>No result found</li>           
            </ol>
        {% endif %}
        
    {% endif %}

    <button><a href="http://127.0.0.1:8000/article/search/" style="text-decoration:none;">Go Back</a></button>

{% endblock content %}