<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Global{% endblock title %}</title>
    
</head>
<body>


    <ol>
        <li><a href="{%url 'in_app_templates' %}">In App Templates</a></li>
        <li><a href="{%url 'in_project_templates' %}">In Project Templates</a></li>
        <li><a href="{%url 'global_templates' %}">Global Templates</a></li>
        <li><a href="{%url 'article_objects' %}">All Article Objects</a></li>
        <li><a href="{%url 'search_article' %}">Search Article Objects</a></li>
        <li><a href="{%url 'article_create' %}">Create Article</a></li>
        <li><a href="{%url 'login' %}">Login</a></li>
    </ol>
   
    {% block content %}   
    
    {% endblock content %}

    {% comment %} {% block base_only %}
    <h1>I am Global template</h1>
    {% endblock %} {% endcomment %}

</body>
</html>